<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div class="content">
  {% if docs|length <1 %}
 
  <h3>Create a new did below</h3>
  {%else%}

  <table>
    <tr>
      <th>Document</th>
      <th>Actions</th>
  </tr>
  {% for doc in docs %}
      <tr>
          <td>{{doc.documentName}}</td>
          <td>
              <a href="/delete/{{doc.id}}">Delete</a>
              <br>
              <a href="/{{doc.user.name}}/{{doc.documentName}}/did.json">See the document</a>
              <br>
              <a href="/modify/{{doc.id}}">Modify</a>
          
          </td>
      </tr>
  {%endfor%}
</table>
  
  {%endif%}


</div>

<!-- <div class="form">
  <form action="/profile" method="POST">
      <input type="text" name="documentName" id="documentName" placeholder="Document name">
      <input type="submit" value="Create did">
  </form>
</div> -->

<div class="form">
  <form action="/profile" method="POST">
<div class="field">
  <label class="label">Document Name</label>
  <div class="control">
    <input id="documentName" name="documentName" class="input" type="text" placeholder="Document Name">
  </div>
</div>

  <div class="field">
    <label class="label">Public Key</label>
    <div class="control">
      <input id="publicKey" name="publicKey" class="input" type="text"  placeholder="Place the public key here">
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button name="addDocument" class="button is-link">Create did</button>
    </div>
  </div>
  
</form>

<!--Resolve a did document-->
<!--GET request to resolveDid route with the placed did as the input data-->

<div class="form">
  <form action={{url_for('main.resolveDid')}} method="GET">

    <div class="field">
      <label class="label">Resolve a DID</label>
      <div class="control">
        <input id="didToResolve" name="didToResolve" class="input" type="text"  placeholder="Place the DID here">
      </div>
    </div>
  
    <div class="field is-grouped">
      <div class="control">
        <button name="resolveDid"class="button is-link">Resolve the DID</button>
      </div>
    </div>
  
</form>

</div>


{% endblock %}